@page "/schedule/schedule_item"

@inject IScheduleItemVM vm

<h1>Расписание для группы @ItemParameter.Title</h1>

<div class="main-container">
    <div class="schedule">
        <span class="black">@ItemParameter.Title</span>
        <div>
            @foreach (var lesson in ItemParameter.LessonItems)
            {
                <span class="black">@lesson.Index</span>
                <div class="black">
                    <div>
                        <span class="red">@lesson.StartAt.ToString(@"hh\:mm")</span>
                        <span class="red">@lesson.EndAt.ToString(@"hh\:mm")</span>
                    </div>

                    @if (lesson.Items.Count < 1)
                    {
                        <span class="nothing">Нет занятий</span>
                    }
                    else
                    {
                        foreach (var item in lesson.Items)
                        {
                            if (item.SubGroup == 0)
                            {
                                <div>
                                    @if (item.Title1.Length > 18)
                                    {
                                        <span>@item.Title1.Substring(0, 18)...</span>
                                    }
                                    else
                                    {
                                        <span>@item.Title1.Trim()</span>
                                    }
                                    <span class="gray">@item.Title3</span>
                                </div>
                                <div>
                                    <span class="red">@item.Title2</span>
                                </div>
                            }
                            else
                            {
                                if (item.SubGroup == 1)
                                {
                                    <div>
                                        @if (item.Title1.Length > 18)
                                        {
                                            <span>@item.Title1.Substring(0, 18)...</span>
                                        }
                                        else
                                        {
                                            <span>@item.Title1.Trim()</span>
                                        }
                                        <span class="gray">@item.Title3</span>
                                        <span class="red">@item.Title2</span>
                                    </div>

                                }
                                else if (!lesson.Items.Exists(s => s.SubGroup == 1))
                                {
                                    <div class="half">
                                        <span>-</span>
                                    </div>
                                }


                                if (item.SubGroup == 2)
                                {
                                    <div>
                                        @if (item.Title1.Length > 18)
                                        {
                                            <span>@item.Title1.Substring(0, 18)...</span>
                                        }
                                        else
                                        {
                                            <span>@item.Title1.Trim()</span>
                                        }
                                        <span class="gray">@item.Title3</span>
                                        <span class="red">@item.Title2</span>
                                    </div>
                                }
                                else if (!lesson.Items.Exists(s => s.SubGroup == 2))
                                {
                                    <div class="half">
                                        <span>-</span>
                                    </div>
                                }
                            }


                        }
                    }
                </div>
            }
        </div>
    </div>

    <div class="buttons-container" style="margin: 10px; justify-content: space-between;">
        <a class="button1" href="/schedule" style="height: auto; background: gray;">
            Вернуться обратно
        </a>
    </div>
</div>

@code {
    [Parameter] public ScheduleItemObj ItemParameter { get; set; }

    protected override void OnInitialized()
    {
        ItemParameter = vm.Item;
    }
}
