@page "/admin_panel"
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "А.П.")]

@inject IAdminPanelVM vm
@inject NavigationManager navigationService

<h1>Панель управления пользователями</h1>

<div class="main-container" disabled="@vm.IsLoading.ToString()">
    <table class="fixed_header">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Роль</th>
            </tr>
        </thead>
        <tbody style="height: 500px;">
            @if (vm.IsLoading)
            {
                <div class="spinner" style="top: 45%; left: 46%;"></div>
            }
            else
            {
                foreach (var item in vm.UsersList)
                {
                    <tr @onclick="() => { vm.CreateOrEdit(item); }" style="cursor: pointer;">
                        <td>@item.UserDetails.SecondName @item.UserDetails.FirstName @item.UserDetails.MiddleName</td>
                        <td>@item.UserDetails.Role</td>
                    </tr>
                }
            }


        </tbody>
    </table>

    <div class="buttons-container" style="margin: 10px; justify-content: space-between;">
        <a class="button1" @onclick="vm.UpdateUserList" style="min-width: auto; height: auto; background: blue;"><span class="material-symbols-sharp" style="font-size: 32px;">refresh</span></a>
        <a class="button1" @onclick="() => vm.CreateOrEdit()" style="background: green;">Создать пользователя</a>
    </div>

</div>

@code {
    
    protected override void OnInitialized()
    {
        vm.NavigationService = navigationService;
    }

    protected override async Task OnInitializedAsync()
    {
        await vm.InitilizedVMAsync();
    }
}
